.content-meta {
  margin-top: 0;
  
  color: #ab1414;;
  
  font-family: Arial, sans-serif;

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
