
/* Active line background */
.markdown-source-view.mod-cm6 .cm-line.cm-active{
    background-color: rgba(var(--mono-rgb-100), 0.05)
}

/*Active line number */
 
.markdown-source-view.mod-cm6  .cm-lineNumbers .cm-gutterElement.cm-active {
  font-weight: 600;
  color: grey;
}
